header.card-info__header
  h1.card-info__title.heading__level-3 Dribble title
section.card-info__body
  p.card-info__text.text__small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti libero nihil deserunt. Assumenda minus accusamus nostrum. Non exercitationem natus tenetur, repudiandae voluptatem quod odit iste quos, eius esse, possimus delectus.
footer.card-info__footer
  p.card__publish-time.heading__level-5
    time(datetime= "2018-08-30") August 30, 2018