.card-details
  header.card-details__header.clearfix
    .card-details__header__title-container
      img.card-details__header__user-avatar.media__img(src="images/card-img/credit-card-emoji.png" alt="user avatar")
      .media__content
        h1.card-details__header__title.heading__level-3 Pay Junction - Paper Receipts 
        p.card-details__header__subtitle.text--small by 
          a.card-details__header__user-name.button.button--secondary.heading__level-4.heading--bold(href="#") Eddie Lobanivsjky 
          | on 
          time.card-details__header__time(datetime= "2018-08-20") August 20, 2018
    .card-details__header__actions
      button.button__save.button.button--outline(type="button") Save
      button.button__like.button.button--outline(type="button") Like
  .card-details__img
    img(src="images/card-img/two-deers.png" alt="")
    //- .clearfix
    //-   .responsive-container
  section.card-details__body.clearfix
    .card-details__body__description
      p.card-details__body__description-text.text--small Hey guys, here’s a sneak peak of my  work in progress I was happy everyone got to see my last work and commented so much. I'll be sure to keep you updated
    .card-details__body__actions
      .clearfix
        a.card-details__body__copy-link.button.button--outline(href="#") 
          span  Copy Link
      ul.body__actions__list.list
        li.body__actions__view.heading__level-5
          span.body__actions__count  6124 Views
        li.body__actions__like.heading__level-5
          a.hover(href="#")
            span.body__actions__count  1232 likes
        li.body__actions__save.heading__level-5
          a.hover(href="#")
            span.body__actions__count  23 saves
    .card-details__responses
      header.responses__header
        h2.responses__title.heading__level-3 Responses
      section.responses__body
        .responses__user-response
          a.responses__user-profile(href="#")
            img.responses__user-avatar.media__img(src="images/card-img/credit-card-emoji.png" alt="user avatar")
            span.responses__user-name.heading__level-4.heading--bold username
          .media__content
            p.responses__user-response-text.text--small I like what you did with this place, I like what you did with this place, I’m not sure what to do about that part. Whay do you think?
            footer.responses__user-response-footer.clearfix
              p.responses__user-response-time.heading__level-5
                time(datetime= "2018-08-20") August 20, 2018
              button.responses__user-response-like.button.button--secondary(type="button") 12
        .responses__user-response
          a.responses__user-profile(href="#")
            img.responses__user-avatar.media__img(src="images/card-img/credit-card-emoji.png" alt="user avatar")
            span.responses__user-name.heading__level-4.heading--bold username
          .media__content
            p.responses__user-response-text.text--small I like what you did with this place, I like what you did with this place, I’m not sure what to do about that part.
            footer.responses__user-response-footer.clearfix
              p.responses__user-response-time.heading__level-5
                time(datetime= "2018-08-20") August 20, 2018
              button.responses__user-response-like.button.button--secondary(type="button") 12

