head
  meta(charset='utf-8')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/dribbble-ball.png')
  title Dribbles
  link(rel='stylesheet', href='styles/main.css')
  link(rel='stylesheet', href='node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css')
  //- link(rel="stylesheet" type="text/css" href="node_modules/lity/dist/lity.css")
