- var navItems = ['Dribbles', 'Buckets', 'Users', 'Lists']
header.header
  .container
    nav.header__nav-bar
      .row.row--3
        .col.col--2
          h1
            a(href="index.html")
              img.dribble__logo(src="images/logo-rectangle.png" alt="dribbles")
              span.visually-hidden Dribbles
          ul.list.list--inline.nav-bar__nav
            - for (var item = 0; item < navItems.length; item++) {
                li.nav__item
                  a(href="")= navItems[item]
            - }
        .col.clearfix
          a.header__user(href="#")
            img.header__user-avatar(src="images/card-img/credit-card-emoji.png" alt="user avatar")
          form.header__search(action="", method="get")
            label.visually-hidden(for="search") search
            input#header__search-input(type="text", name="search" placeholder="Search...")
            button.header__search-button(type="submit")
              span.visually-hidden Search