.page-header__nav-bar {
  background-color: var(--text-black);
  height: 40px;
  padding-bottom: 8px;
}

.page-header__nav-bar h1 {
  margin: 0;
  display: inline-block;
}

.dribble__logo {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 8px;
}

.nav-bar__nav li + li,
.page-header__user-nav li + li {
  margin-left: 10px;
}

.nav-bar__nav a,
.page-header__user-nav a {
  color: var(--light-grey);
}

.nav-bar__nav a:hover,
.page-header__user-nav a:hover {
  color: var(--white);
  cursor: pointer;
}

ul.nav-bar__nav {
  display: inline-block;
  vertical-align: text-bottom;
  padding-bottom: 12px;
}

ul.page-header__user-nav {
  float: right;
  margin-top: 10px;
}
